
*.cache
*.csproj
*.exe
*.cache
*.props
*.targets
*.v2
*.vsidx
*.lock
*.props
*.targets
*.user
*.dll
*.pdb
*.v2
.vs/Microservices/v17/.suo
Servicios.api.Gateway/obj/Docker/publish/web.config
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.deps.json
*.v2
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.deps.json
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.dll
*.exe
*.pdb
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.runtimeconfig.dev.json
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.StaticWebAssets.xml
Servicios.api.Seguridad/obj/Debug/net5.0/ref/Servicios.api.Seguridad.dll
*.cache
*.txt
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.dll
*.cache
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.MvcApplicationPartsAssemblyInfo.cs
Servicios.api.Seguridad/obj/Docker/publish/web.config
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.pdb
Servicios.api.Seguridad/obj/Servicios.api.Seguridad.csproj.EntityFrameworkCore.targets
Servicios.api.Gateway/obj/Docker/publish/appsettings.Development.json
Servicios.api.Gateway/obj/Docker/publish/appsettings.json
Servicios.api.Gateway/obj/Docker/publish/Servicios.api.Gateway.deps.json
Servicios.api.Libreria/obj/Docker/publish/appsettings.Development.json
Servicios.api.Gateway/obj/Docker/publish/Servicios.api.Gateway.runtimeconfig.json
.vs/Microservices/DesignTimeBuild/.dtbcache.v2
Servicios.api.Libreria/obj/Docker/publish/Servicios.api.Libreria.deps.json
Servicios.api.Libreria/obj/Docker/publish/Servicios.api.Libreria.runtimeconfig.json
Servicios.api.Libreria/obj/Docker/publish/web.config
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.deps.json
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.dll
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.exe
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.pdb
Servicios.api.Seguridad/bin/Debug/net5.0/Servicios.api.Seguridad.runtimeconfig.dev.json
Servicios.api.Seguridad/obj/Debug/net5.0/ref/Servicios.api.Seguridad.dll
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.csproj.CoreCompileInputs.cache
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.csproj.FileListAbsolute.txt
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.dll
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.genruntimeconfig.cache
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.MvcApplicationPartsAssemblyInfo.cs
Servicios.api.Seguridad/obj/Debug/net5.0/Servicios.api.Seguridad.pdb
Servicios.api.Seguridad/obj/Docker/publish/appsettings.Development.json
Servicios.api.Seguridad/obj/Docker/publish/Servicios.api.Seguridad.deps.json
Servicios.api.Seguridad/obj/Docker/publish/Servicios.api.Seguridad.runtimeconfig.json
Servicios.api.Seguridad/obj/Servicios.api.Seguridad.csproj.EntityFrameworkCore.targets
Servicios.api.Seguridad/obj/Servicios.api.Seguridad.csproj.EntityFrameworkCore.targets
